body{
    width: 1920px;
    height: 5307;
    background-color: #0E2C40;
    font-family: Archivo;
    padding-top: 90px;
}

input{
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.accordion {
    width: 200px;
    color: white;
    overflow: hidden;
    margin-bottom: 16px;
}
.accordion:last-child{
    margin-bottom: 0;
}
.accordion-label {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px;
    background: #133A54;
    cursor: pointer;
    font-size: 24px;
    font-family: Archivo;
}
.accordion-label:hover {
    background: #133A54;
}
.accordion-label::after {
    content: "\276F";
    width: 16px;
    height: 16px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content {
    max-height: 0;
    padding: 0 16px;
    color: white;
    background: #133a54be;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    
}
.accordion-content p{
    margin: 0;
    color: white;
    font-size: 24px;
    line-height: 35px;
    font-family: Archivo;
    font-weight: 250;
}

input:checked + .accordion-label {
    background: #133A54;
    
}

input:checked + .accordion-label::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    
}

input:checked ~ .accordion-content {
    max-height: 100vh;
    padding: 16px;
}
  

#img_title{
    position: absolute;
    width: 1920px;
    height: 800px;
    left: -1px;
    top: -8px;
}

header{
    position: fixed;
    top: -20px;
    left: -39.5px;
    z-index: 1;
}

#degrade{
    position: absolute;
    width: 1920px;
    height: 800px;
    left: 0px;
    top: 3px;
    
    background: linear-gradient(180deg, #0e2c4000 0%, #0E2C40 100%);
}

#op1{
    position: absolute;
    width: 68px;
    height: 23px;
    left: 322px;
    top: 54px;
    
    font-family: Archivo;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 16px;
    text-decoration: none;

    color: #ffffff; 
}


#menu{
    width: 1920px;
    height: 89px;
    left: 10px;
    top: -20px;
    
    background: #133A54;
}

#titulo{
    position: absolute;
    width: 617px;
    height: 79px;
    left: 324px;
    top: 295px;
    font-family: Archivo;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;  
    color: #ffffff;
}

#sub{
    position: absolute;
    width: 477px;
    height: 106px;
    left: 324px;
    top: 450px;    
    font-family: Archivo;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    color: #ffffff; 
}

#sombra{
    position: absolute;
    width: 529.13px;
    height: 441.56px;
    left: 964.87px;
    top: 148.99px;
    background: #082334;
    filter: blur(150px);
}

#nomeint{
position: absolute;
width: 390px;
height: 88px;
left: 778px;
top: 819px;
font-family: Archivo;
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 37px;

color: #ffffff;
}

#intro{
    position: absolute;
    width: 846px;
    height: 172px;
    left: 538px;
    top: 950px;
    font-family: Archivo;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    text-align: center;  
    color: #ffffff;
    
}

#intro2{
    position: absolute;
    width: 739px;
    height: 358px;
    left: 320px;
    top: 1170px;

    font-family: Archivo;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: normal;
    color: #ffffff;
}

#mentes{
    position: absolute;
    left: 1150px;
    top: 1200px;
    width: 542px;
    height: 350px;
}

#intro3{
    position: absolute;
    width: 737px;
    height: 336px;
    left: 950px;
    top: 1920px;

    font-family: Archivo;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: normal;
    color: #ffffff;
}

#sociedade{
    position: absolute;
    left: 250px;
    top: 2000px;
}

/*FOOTER*/

#fontes{
    position: absolute;
    width: 286px;
    height: 68px;
    left: 320px;
    top: 2589px;
    
    font-family: Archivo;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;

    color: #ffffff;
}

#flinks{
    position: absolute;
    width: 531px;
    height: 104px;
    left: 321px;
    top: 2644px;
    
    font-family: Archivo;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    
    color: #ffffff;
}

#sn{
    position: absolute;
    width: 286px;
    height: 68px;
    left: 1029px;
    top: 2589px;
    
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    
    color: #ffffff;
}

#txtsn{
    position: absolute;
    width: 531px;
    height: 104px;
    left: 1030px;
    top: 2644px;
    
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    
    color: #ffffff;
}

#rodape{
    position: absolute;
    width: 1920px;
    height: 396px;
    left: 2px;
    top: 2495px;
    
    background: #133a54; 
}

#ano{
    position: absolute;
    width: 847px;
    height: 39px;
    left: 597px;
    top: 2903px;
    font-family: Archivo;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #b9b8b866;
          
}